@import url('https://fonts.cdnfonts.com/css/segoe-ui-variable-static-display');

:root {
    /*the base ao site color background*/
    --bg-base-color: rgb(239, 243, 255);

    /* the compsoe colors for the bacnground gradinet colors */
    --bg-blue--color: rgb(236, 244, 255);
    --bg-purple--color: rgb(224, 216, 252);
    --bg-pink--color: rgb(246, 211, 248);

    /*the side right bar gradient colors*/
    --sb-up-color: rgb(237, 241, 255);
    --sb-down-color: rgb(248, 238, 253);

    /* the button colors*/
    --bt--primary: rgb(134, 132, 246);
    --bt--secundary: rgb(0, 0, 0);
    --bt--meddle: rgb(76, 76, 76);

    /* colors icons*/
    --ic--gray-dark: rgb(72, 72, 72);
    --ic-blue: rgb(85, 68, 194);
}

* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-base-color);
}

#logo-name-side {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bg-base-color);
    background-color: transparent;
    height: 100%;
    top: 0px;
    gap: 54%;
    width: 10px;
    padding: 0px 64px;
    box-shadow: inset -20px -10px 20px rgb(234, 237, 250);
}

#text-logo {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
    rotate: -90deg;
    letter-spacing: 5px;
    padding-left: 92px;
    user-select: none;
}

#logo {
    width: 25px;
    -webkit-user-drag: none;
    user-select: none;
    cursor: pointer;
}

#content-bg {
    opacity: 0.3;
    transform: rotate(0deg);
    z-index: -2;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    float: right;
    right: -50px;
    height: 100%;
    filter: blur(150px);
}

#bg-1 {
    width: 500px;
    height: 60%;
    background-color: rgb(195, 0, 255);
    border-radius: 0% 0% 0% 50%;
}

#bg-2 {
    width: 500px;
    height: 40%;
    background-color: rgb(255, 0, 191);
    border-radius: 50% 0% 0% 0%;
}

#main-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin: 125px 125px 0px 150px;
}

#card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    width: 400px;
    min-width: 350px;
    height: 400px;
    border: transparent;
    border-radius: 15px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 20px #cecece;
}

#card-content img {
    width: auto;
    height: auto;
    border-radius: 15px 15px 0px 0px;
    transform: scale(1.5);
}


#text-content {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    background-color: transparent;
    border-radius: 10px;
    bottom: 0px;
}

#card-title {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

#card-description {
    font-size: 16px;
}

.card-1 #card-explan span {
    font-weight: 500;
    color: rgb(191, 156, 122);
    text-transform: capitalize;
}

.card-1 #card-description {
    color: rgb(191, 156, 122);
}

.card-2 #card-explan span {
    font-weight: 500;
    color: rgb(254, 175, 76);
    text-transform: capitalize;
}

.card-2 #card-description {
    color: rgb(254, 175, 76);
}

.card-3 #card-explan span {
    font-weight: 500;
    color: rgb(196, 134, 171);
    text-transform: capitalize;
}

.card-3 #card-description {
    color: rgb(196, 134, 171);
}